.btn{
    &.btn-primary{
        background-color: #1e1e1e;
        border-color: $color_one;
        display: block;
        width: 100%;
        &:hover{
            background-color: #4e77ff;
        }
    }
}