$color_one: #4568dc;
$color_two: #161819;
$color_three: #252728;
$color_four: #7d7e7e;
$color_five: #a3a3a4;
$color_six: #b9baba;
$color_seven: #ff5f52;

$chart-one: #6655fe;
$chart-two: #9433f0;
$chart-three: #b423c1;

$font-main: 'Poppins', Arial, sans-serif;

:root {
    --margin: 15px;
    --padding: 15px;
    --border-radius: 4px;
  }
